<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/static/style.css">
    <title>Login</title> 
</head> 
<body> 
    <div id="container"> 
        <p class="text">Username</p> 
        <input type="text" id="username"> 
        <p class="text">Password</p> 
        <input type="password" id="password"> 
        <button id="accedi" onclick="accedi()">ACCEDI</button> 
        <a href="/signup" id="crea">Non hai un account? Clicca qui</a> 
    </div> 
    <script src="/static/login.js"></script>
</body>
</html>